@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1em 0;
}

/* general */
body {
  font-family: 'Quicksand', sans-serif;
}

.page {
  padding: 1rem;
}

/* header */
#header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  padding: 0 1rem;
  background-color: brown;
  color: #ffffff;
  font-size: 1.1rem;
}

#header .auth-options button:hover {
  background-color: #be3a3a;
}
